html {
  font-family: Lora, serif;
}

.masthead {
  background-color: #588477;
  border-bottom: 3px solid #2d5a4d;
  border-top: 3px solid #2d5a4d;
  background-image: url("../images/leaf-bg.svg");
  background-size: 64px;

}

h1 {
  color: #fff;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  background-color: #467366;
  border-color: #84452f;
  background-repeat: no-repeat;
  background-position: .2em center;
  background-size: 1.2em auto;
  padding-left: 1.5em;
}

.nav a:hover {
  background-color: #fff;
  background-image: url("../images/leaf-icon.svg");
  background-size: contain;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(16, 51, 42, 0), rgba(16, 51, 42, 8)), url("../images/banner.jpg");
  background-position: bottom;
}

.banner-content {
  color: #fff;
  background-image: url("../images/two-leaves.svg");
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 300px;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
